<div class="my-8">
  <ul class="flex flex-row flex-wrap">
    <li *ngFor="let card of cards">
      <div
        class="m-6 block h-52 w-52 max-w-sm p-5 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
      >
        <h5
          class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
          {{ card.title | uppercase }}
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          {{ card.description }}
        </p>
        <p class="font-normal text-gray-700 dark:text-gray-400">
          Created on: {{ card.createdOn | date }}
        </p>
      </div>
    </li>
  </ul>
</div>
